{% extends '@App/default/index.html.twig' %}

{% block content %}
    <div class="container">
        <h4><a href="{{ path("user_conversations", {id: app.user.id}) }}">Диалоги</a></h4>
        <div class="col m5 offset-s2 block">
            {% for key,message in messages %}
                {% set prevAuthor = messages[key - 1].author|default(messages[0].author) %}
                {% set author = message.author %}
                <div class="message-box">
                {% if author.userName != prevAuthor.userName or key == 0 %}
                    <a href="{{ path('user_profile', {'id': author.id}) }}">
                        <div class="user-icon" style="background-image:url({% if author.image|length %}
                            {{ ('images/users/'~author.image)| imagine_filter('user_icon_thumb') }}
                        {% else %}
                            {{ asset('images/users/default-avatar.jpg') }}
                        {% endif %}
                                );">
                        </div>
                    </a>
                    <div class="author">{{ message.author.userName }}</div>
                {% endif %}
                    <div id="msg-{{ message.id }}" class="message {% if message.isRead == 0 and message.author != app.user %}unread{% endif %}">
                        <div class="created"> {{ message.createdAt|date }}</div>
                        <span>{{ message.text|raw }}</span>
                    </div>
                </div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div>

            {#<form method="post" action="{{ path("conversation_message_save", {'idUser': app.user.id,'idConversation': app.request.get("idConversation") }) }}">
                <textarea name="usermessage" col="4" rows="3" placeholder="ваше сообщение"></textarea>
                <input type="submit" value="отправить">
            </form>#}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/user/conversation.js'
    output='js/compiled/conversation.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}