{% extends '@App/default/index.html.twig' %}

{% block content %}
    <div class="container">
        <h4>Диалоги</h4>
        <div class="col m5 offset-s2 block">
            {% for conversation in conversations %}
                <div class="conversation-row">
                    {% set users = conversation.getUsers() %}
                    <div class="conversation-title"><b>
                        {% for user in users %}
                            {% if user.id != app.user.id %}
                                <a href="{{ path('user_profile', {'id': user.id}) }}">
                                    <div class="user-icon" style="background-image:
                                            url({% if user.image|length %}
                                        {{ ('images/users/'~user.image)| imagine_filter('user_icon_thumb') }}
                                    {% else %}
                                        {{ asset('images/users/default-avatar.jpg') }}
                                    {% endif %}
                                            );">
                                    </div>
                                </a>
                            {{ user.userName }}
                            {% endif %}
                        {% endfor %}
                        </b></div>
                    {% set lastMessage = conversation.getMessages() %}
                    {% for message in conversation.getMessages() %}
                        {% if loop.last %}
                            <div class="conversation-last-message "><a href="{{ path("conversation", {'idUser': app.user.id,'idConversation':conversation.id }) }}">{{ message.text }}</a></div>
                            <i class="message-remove material-icons">clear</i>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}