{% extends '@App/default/index.html.twig' %}

{% block content %}
    <div class="container">
    <div class=" col m12 block">
    <div class="event-view-wrap">
       <h4>Создайте свое событие</h4>
        <div class="row">
                {{ form_start(form, {'attr': {'class': 'col s12'}}) }}
            {{ form_errors(form) }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.title, 'Заголовок') }}
                        {{ form_widget(form.title, {
                            'attr': { 'class': 'validate', 'id': 'title' }})
                        }}
                    </div>
                    <div>
                        <label style="position:relative; left: 11px; top: 18px; font-size: 14px;">Нужно человек</label>
                    </div>
                    <div class="input-field col s12">
                        <p class="range-field">
                        {{ form_widget(form.people_needed, {
                            'attr': { 'class': 'validate', 'min': '3', 'max': '20' }})
                        }}
                        </p>
                    </div>
                </div>
            <label style="font-size: 14px;">Место проведения</label>
            <div class="row">
                    <div class="col s4">
                        {{  form_errors(form.country) }}
                        {{ form_widget(form.country, {'attr': {
                            'onchange':'EventForm.getRegionList(this.value,"'~path("ajax_regions")~'")'}}) }}
                    </div>
                    <div class="col s4">
                        {{  form_errors(form.region) }}
                        {{ form_widget(form.region, {'attr': {
                            'onchange':'EventForm.getCityList(this.value,"'~path("ajax_cities")~'")'}}) }}
                    </div>
                    <div class="col s4">
                        {{  form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.text, 'Опишите ваше событие') }}
                        {{ form_errors(form.text) }}
                        {{ form_widget(form.text, {'attr': {'class': 'materialize-textarea'}})}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                       {# {{ form_label(form.event_date_time, 'Дата проведения') }}#}
                        {{ form_errors(form.event_date_time) }}
                        {{ form_widget(form.event_date_time)
                        }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                       {{ form_label(form.event_tags, 'Добавте теги') }}
                        {{ form_errors(form.event_tags) }}
                        {{ form_widget(form.event_tags, {'attr': {'multiple': 'multiple'}}) }}
                        {# <input type="hidden" id="form_event_tags" name="form[event_tags][0][6]" value="tag1" required="required">
                        <input type="hidden" id="form_event_tags" name="form[event_tags][1][5]" value="tag2" required="required"> #}

                    </div>
                </div>
            {{ form_widget(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
    </div>
    </div>
{% endblock %}