{% extends '@App/default/index.html.twig' %}

{% block content %}
    <div class="container">
       <h2>Создайте свое мероприятие</h2>
        <div class="row">
                {{ form_start(form, {'attr': {'class': 'col s12'}}) }}
            {{ form_errors(form) }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.title, 'Заголовок') }}
                        {{ form_widget(form.title, {
                            'attr': { 'class': 'validate', 'id': 'title' }})
                        }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_label(form.people_needed) }}
                        {{ form_widget(form.people_needed, {
                            'attr': { 'class': 'validate', 'min': '3', 'max': '20' }})
                        }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        {{ form_label(form.country, 'Место проведения') }}
                        {{  form_errors(form.country) }}
                        {{ form_widget(form.country, {'attr': {'class': 'browser-default'}}) }}
                    </div>
                    <div class="col s4">
                        {{  form_errors(form.region) }}
                        {{ form_widget(form.region, {'attr': {'class': 'browser-default'}}) }}
                    </div>
                    <div class="col s4">
                        {{  form_errors(form.city) }}
                        {{ form_widget(form.city, {'attr': {'class': 'browser-default'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.text, 'Опишите ваше событие') }}
                        {{ form_errors(form.text) }}
                        {{ form_widget(form.text, {'attr': {'class': 'materialize-textarea'}})}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.event_date_time, 'Дата проведения') }}
                        {{ form_errors(form.event_date_time) }}
                        {{ form_widget(form.event_date_time)
                        }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                       {{ form_label(form.event_tags, 'Добавте теги') }}
                        {{ form_errors(form.event_tags) }}
                        {{ form_widget(form.event_tags, {'attr': {'multiple': 'multiple', 'class': 'browser-default'}}) }}
                        {# <input type="hidden" id="form_event_tags" name="form[event_tags][0][6]" value="tag1" required="required">
                        <input type="hidden" id="form_event_tags" name="form[event_tags][1][5]" value="tag2" required="required">
 #}
                        <div class="chips chips-placeholder" onclick="$('.chips-placeholder').material_chip({
                            placeholder: 'Enter a tag',
                            secondaryPlaceholder: '+Tag'});">
                        </div>
                    </div>
                </div>
            {{ form_widget(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

